    <!-- Header -->
    <!-- <header>
        <div class="logo">
            <a href="">
            <img src="/public/img/logo-white.png" alt="">
            </a>
        </div>
        <ul class="nav" id="nav">
            <ul class="navLogo">
                <a href="./index.html">
                     <img src="/public/img/logo-white.png" alt="">
               </a>
            </ul>
  
            <li class="nav-link"><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li class="nav-link"><a routerLink="/about" routerLinkActive="active">About Us</a></li>
  <li class="nav-link"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  
            <li class="sociallinkContainer">
                <img class="sociallink" src="/public/img/fabook-icon-white.svg" alt="">
                <img class="sociallink" src="/public/img/twitter-icon-white.svg" alt="">
                <img class="sociallink" src="/public/img/inkedin-icon-white.svg" alt="">
                <img class="sociallink" src="/public/img/whatsapp-icon-white.svg" alt="">
            </li>
        </ul>
        <div id="barContainer">
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </header> -->


    <router-outlet></router-outlet>




<!-- <footer>
    <div class="footerlinksContainer">
        <div class="footerAboutus">
            <img src="/public/img/logo-white.png" alt="">
            <p class="darkPara">With no commissions and a simple user interface, 
             Prouple is the most reliable way to trade for 
             Cryptocurrency.
            </p>
            <div class="footersociallinkContainer">
                <img class="sociallink" src="/public/img/fabook-icon-white.svg" alt="">
                <img class="sociallink" src="/public/img/twitter-icon-white.svg" alt="">
                <img class="sociallink" src="/public/img/inkedin-icon-white.svg" alt="">
                <img class="sociallink" src="/public/img/whatsapp-icon-white.svg" alt="">
            </div>
        </div>

        <div class="footerlink">
            <h1 class="linkTitle">Explore</h1>
            <a href="#" class="eachLink">About us</a>
            <a href="#" class="eachLink">FAQ</a>
            <a href="#" class="eachLink">Blog</a>
            <a href="#" class="eachLink">Contact</a>
        </div>

        <div class="footerlink">
            <h1 class="linkTitle">Service</h1>
            <a href="#" class="eachLink">Mining</a>
            <a href="#" class="eachLink">Control Data</a>
            <a href="#" class="eachLink">Design</a>
            <a href="#" class="eachLink">Security</a>
        </div>

        <div class="footerlink">
            <h1 class="linkTitle">Resource</h1>
            <a href="#" class="eachLink">Style Guide</a>
            <a href="#" class="eachLink">Change Log</a>
            <a href="#" class="eachLink">License</a>
        </div>
    </div>

    <div class="footerCopyright">
         <p>&copy; 2023 design and developed by <a href="#" class="developedBy">Programming Insider</a>.</p>
    </div>
</footer> -->