/* Header */
header{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

#barContainer{
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav{
    list-style-type: none;
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--lightDark);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    z-index: 2;
}

.showNav{
    padding: 1em;
    padding-top: 5em;
    width: 70%;
    max-width: 300px;

}

.navLogo{
   margin-bottom: 3rem;
  
}


.nav-link{
    font-size: 1rem;
    width: 100%;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
}

.nav-link a{
    color: var(--white);
}

.sociallinkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.sociallink{
    margin-right: 1em;
    cursor: pointer;
}

@media screen and (min-width:800px) {
    .nav{
        position: relative;
        width: auto;
        background-color: transparent;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
    }
    .nav-link{
          margin-right: 2em;
    }
    .navLogo,#barContainer,.sociallinkContainer{
        display: none;
    }
}




.footerlinksContainer{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
    padding-top: 5em;
    border-top: 1px solid var(--lightgrey);
}

.footersociallinkContainer{
    margin-top: 1em;
}

.footerAboutus .sociallinkContainer{
    justify-content: flex-start;
}

.footerlink{
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.linkTitle{
    font-size: 1.5rem;
    margin-bottom: .5em;
}

.footerlink a{
    color: var(--white);
    margin-bottom: 1em;
    transition: all .5s ease-in-out;
}

.footerlink a:hover{
    transform: translateX(10px);
}

.footerCopyright{
    background-color: var(--darkblue);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.footerCopyright p{
    text-align: center;
}

.developedBy{
    font-weight: bold;
    color: var(--white);
}

@media screen and (min-width:700px) {
    .footerlinksContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
